body {
    font-family: Arial, sans-serif;
    background-color: #27dbff;
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapers.com/images/hd/anime-boy-student-reading-book-df9a4xbzd2qnzf1l.jpg');
}
.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}
h1 {
    text-align: center;
    margin: 20px 0;
    text-decoration: blue;
    color: aqua;
}
#form-container, #search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(192, 112, 13);
}
input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #101bf3;
}
#book-list {
    margin-top: 20px;
}
.book-item {
    background-color: aquamarine;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}
