body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #10c151;
    text-align: left;
}
.h1{
    align-items: right;
}
.calculator {
    background-color: #f5f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
